<img class="img-fluid mtb  shodow-sm" src="https://image.flaticon.com/icons/svg/3118/3118173.svg" alt="">

<mat-nav-list dense class="mt-2">
    <a mat-list-item [routerLink]="['']"> 
        <span mat-line><span class="mat-h4">Overview</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/1162/1162251.svg" alt="">

    </a>

    <a mat-list-item [routerLink]="['dashbord']"> 
        <span mat-line><span class="mat-h4">Dashbord</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/2328/2328966.svg" alt="">

    </a>

    <a mat-list-item [routerLink]="['dashbord-update']" > 
        <span mat-line><span class="mat-h4">Note & Table</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/3075/3075908.svg" alt="">
        

    </a>

    <a mat-list-item href="http://www.google.com" > 
        <span mat-line><span class="mat-h4">Stock</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/1198/1198345.svg" alt="">

    </a>
 </mat-nav-list>