<img class="img-fluid mtb  shodow-sm" src="https://www.flaticon.com/svg/vstatic/svg/3118/3118173.svg?token=exp=1618938162~hmac=4a9b32dd76f7cca667d251ad52e1dedf" alt="">

<mat-nav-list dense class="mt-2">
    <a mat-list-item href="http://www.google.com" > 
        <span mat-line><span class="mat-h4">Overview</span></span>
        <img matListAvatar src="https://www.flaticon.com/svg/vstatic/svg/1162/1162251.svg?token=exp=1618937867~hmac=c804d0fb0b168878344e7cfd9169237b" alt="">

    </a>

    <a mat-list-item href="http://www.google.com" > 
        <span mat-line><span class="mat-h4">Check</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/1198/1198345.svg" alt="">

    </a>

    <a mat-list-item href="http://www.google.com" > 
        <span mat-line><span class="mat-h4">Stock</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/1198/1198345.svg" alt="">

    </a>

    <a mat-list-item href="http://www.google.com" > 
        <span mat-line><span class="mat-h4">Stock</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/1198/1198345.svg" alt="">

    </a>
 </mat-nav-list>