
<!---------------------- ทดสอบ CRUD---------------------------------------------------------------------------------------- -->
<h1 class="text-white">ตารางและบันทึกสถานที่ติดตั้ง</h1>
<hr class="border"/>
<div><br></div>
<div class="container row">
  <div class="col">
      <div class="form-group">
         <div class="col-lg-6">
           <label class="text-white">ตำแน่งเสาที่</label>
           <input class="form-control text-center" readonly [(ngModel)]='id' />
         </div>
      </div>
      <!-- <div class="form-group">
        <div class="col-lg-6">
          <label>Volt</label>
          <input class="form-control" [(ngModel)]='V' />
        </div>
     </div>
     <div class="form-group">
        <div class="col-lg-6">
          <label>Amp</label>
          <input class="form-control" [(ngModel)]='A' />
        </div>
     </div>
     <div class="form-group">
        <div class="col-lg-6">
          <label>Status</label>
          <input class="form-control" [(ngModel)]='S' />
        </div>
     </div> -->
     <div class="form-group">
        <div class="col-lg-6">
          <label class="text-white">ละติจูด</label>
          <input class="form-control" type="number" [(ngModel)]='lat' />
        </div>
     </div>
     <div class="form-group">
        <div class="col-lg-6">
          <label class="text-white">ลองติจูด</label>
          <input class="form-control" type="number"  [(ngModel)]='lng' />
        </div>
     </div>
     <div class="form-group">
      <div class="col-lg-6">
        <label class="text-white">บันทึก</label>
        <input class="form-control" [(ngModel)]='note' /><br/>
        <!-- <button *ngIf = 'isEdit == false' class= "btn btn-success" (click)='addUser()'>Add</button> -->
        <button  class= "btn btn-info" (click)='updateUser()' >แก้ไข</button>
        <!-- <button *ngIf = 'isEdit == true' class= "btn btn-danger" (click)='deleteUser()'>Delete</button> -->
      </div>
   </div>
  </div>

  <div class="col ">
      <table class="table table-hover border">
          <thead>
            <tr>
              
              <th class="text-white bg-dark">เสาที่</th>
              <th class="text-white bg-dark">แรงดัน</th>
              <th class="text-white bg-dark">กระแส</th>
              <th class="text-white bg-dark">สถานะ</th>
              <th class="text-white bg-dark">บันทึก</th>
              <th class="text-white bg-dark">ละติจูด</th>
              <th class="text-white bg-dark">ลองติจูด</th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let node1 of node1List; let i = index;' (click)='getUserFromTbl(node1.id)'>
              
              <td class="text-white">{{node1.id}}</td>
              <td class="text-white">{{node1.V}}</td>
              <td class="text-white">{{node1.A}}</td>
              <td class="text-white">{{node1.S}}</td>
              <td class="text-white">{{node1.note}}</td>
              <td class="text-white">{{node1.location.lat}}</td>
              <td class="text-white">{{node1.location.lng}}</td>
              
            </tr>
          </tbody>
      </table>
  </div>
</div>

<button mat-icon-button><mat-icon>seaach</mat-icon></button>




<!-- <ul>
  <li *ngFor='let user of _userList; let i = index;'>
    ID : {{user.id}},Name {{user.name}},phone : {{user.phone}}
  </li>
</ul> -->