  <div class="d-flex flex-row align-items-center justify-content-center mt-4 container" >


    <div class="col-md-3 mt-4">
        <mat-card class="d-flex align-items-center">
          <img class="icon mr-3"  src="https://image.flaticon.com/icons/svg/3176/3176369.svg" alt="">
          <div class="d-flex flex-column">
            <div class="h2 mb-0">Good</div>
            <div class="h4 mb-0" >{{status_good}}</div>
          </div>
        </mat-card>
    </div>
  
    
      <div class="col-md-3  mt-4">
        <mat-card class="d-flex align-items-center">
          <img class="icon mr-3" src="https://image.flaticon.com/icons/svg/3176/3176276.svg" alt="">
          <div class="d-flex flex-column">
            <div class="h2 mb-0">Bad</div>
            <div class="h4 mb-0">{{status_bad}}</div>
          </div>
        </mat-card>
      </div>
  
  
      <div class="col-md-3  mt-4">
        <mat-card class="d-flex align-items-center">
          <img class="icon mr-3" src="https://image.flaticon.com/icons/svg/2372/2372041.svg" alt="">
          <div class="d-flex flex-column">
            <div class="h2 mb-0">Broken</div>
            <div class="h4 mb-0">{{status_broken}}</div>
          </div>
        </mat-card>
      </div>
  
      <div class="col-md-3 mt-4">
        <mat-card class="d-flex align-items-center">
          <img class="icon mr-3" src="https://image.flaticon.com/icons/svg/869/869045.svg" alt="">
          <div class="d-flex flex-column">
            <div class="h2 mb-0">Down</div>
            <div class="h4 mb-0">{{status_down}}</div>
          </div>
        </mat-card>
      </div>
  
  
  </div>
  
  <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>
  
  
  


<!-- 
<div *ngFor="let node1 of node1List;">
    <div *ngIf="node1.S == 'OK' " [ngStyle]="{'background-color': 'green'}">
      Volt : {{ node1.V }}, Amp : {{ node1.A }}, Stasus : {{ node1.S }}
    </div>

    <div *ngIf="node1.S == 'BAD' " [ngStyle]="{'background-color': 'yellow'}">
      Volt : {{ node1.V }}, Amp : {{ node1.A }}, Stasus : {{ node1.S }}
    </div>

    <div *ngIf="node1.S == 'DOWN' " [ngStyle]="{'background-color': 'red'}">
      Volt : {{ node1.V }}, Amp : {{ node1.A }}, Stasus : {{ node1.S }}
    </div>

</div>
  -->


<!-- <lord-icon trigger="hover" src="/my-icon.json"></lord-icon> -->

