<!-- <div class="mt-2">
    <h1 class="text-white"> ภาพรวมของระบบ </h1>
    <hr class="border">
</div> -->
  
<!-- ---------------------------------  แบบเดิม---------------------------------------------------------------------------- -->
  <!-- <div class="d-flex flex-row align-items-center justify-content-center mt-4 container" >

    <div class="col-md-3 mt-4">
        <mat-card class="d-flex align-items-center">
          <img class="icon mr-3"  src="https://image.flaticon.com/icons/svg/3176/3176369.svg" alt="">
          <div class="d-flex flex-column">
            <div class="h2 mb-0">ปกติ</div>
            <div class="h4 mb-0" >{{status_good}}</div>
          </div>
        </mat-card>
    </div>
  
    
      <div class="col-md-3  mt-4">
        <mat-card class="d-flex align-items-center">
          <img class="icon mr-3" src="https://image.flaticon.com/icons/svg/25/25805.svg" alt="">
          <div class="d-flex flex-column">
            <div class="h2 mb-0">เสียหาย</div>
            <div class="h4 mb-0">{{status_bad}}</div>
          </div>
        </mat-card>
      </div>
  
  
      <div class="col-md-3  mt-4">
        <mat-card class="d-flex align-items-center">
          <img class="icon mr-3" src="https://image.flaticon.com/icons/svg/2372/2372041.svg" alt="">
          <div class="d-flex flex-column">
            <div class="h2 mb-0">ชำรุด</div>
            <div class="h4 mb-0">{{status_broken}}</div>
          </div>
        </mat-card>
      </div>
  
      <div class="col-md-3 mt-4">
        <mat-card class="d-flex align-items-center">
          <img class="icon mr-3" src="https://image.flaticon.com/icons/svg/869/869045.svg" alt="">
          <div class="d-flex flex-column">
            <div class="h4 mb-0">ไม่ได้รับข้อมูล</div>
            <div class="h4 mb-0">{{status_down}}</div>
          </div>
        </mat-card>
      </div>
  </div> -->

  
<!-- ------------------------------------------------------------------------------------------------------------- -->

  <div class="">
    <h1 class="text-white"> คำแนะนำการใช้งาน </h1>
    <hr class="border">
 </div>
  
<!-- -------------------------------  แบบใหม่ ------------------------------------------------------------------------------ -->
 <div class="wrapper">
     <!-- card1 -->
    <div class="card">
        <input type="checkbox" id="card1" class="more" aria-hidden="true">
        <div class="content">

            <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
                <div class="inner">
                    <h2>Status</h2>
                    <div class="rating">
                        <div class="">
                            <mat-card class="d-flex align-items-center">
                              <img class="icon mr-3"  src="https://image.flaticon.com/icons/svg/3176/3176369.svg" alt="">
                              <div class="d-flex flex-column">
                                <div class="h2 mb-0">ปกติ</div>
                                <div class="h4 mb-0" >{{status_good}}</div>
                              </div>
                            </mat-card>
                        </div>
                      
                    </div>
                    <label for="card1" class="button" aria-hidden="true">
                        Details
                    </label>
                </div>
            </div>
            
            <div class="back">
                <div class="inner">
                    <div class="description">
                        <h2>เป็นสถานะที่ระบบปกติ รับค่า V (แรงดันไฟฟ้า), A (กระแสไฟฟ้า) จากสถานีลูกที่ติดตั้งอยู่่ที่เสาไฟฟ้าได้</h2>
                    </div>
                    <label for="card1" class="button return" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <!-- card 2 -->
    <div class="card">
        <input type="checkbox" id="card2" class="more" aria-hidden="true">
        <div class="content">

            <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
                <div class="inner">
                    <h2>Status</h2>
                    <div class="rating">
                        <div class="">
                            <mat-card class="d-flex align-items-center">
                              <img class="icon mr-3"  src="https://image.flaticon.com/icons/svg/25/25805.svg" alt="">
                              <div class="d-flex flex-column">
                                <div class="h2 mb-0">เสียหาย</div>
                                <div class="h4 mb-0" >{{status_bad}}</div>
                              </div>
                            </mat-card>
                        </div>
                      
                    </div>
                    <label for="card2" class="button" aria-hidden="true">
                        Details
                    </label>
                </div>
            </div>
            
            <div class="back">
                <div class="inner">
                    <div class="description">
                        <h2>เป็นสถานะที่สถานีลูกไม่สามารถวัดค่า V(แรงดันไฟฟ้า), A(กระแสไฟฟ้า) ได้ คาดว่าสายไฟเลี้ยง 220V เสียหาย</h2>
                    </div>
                    <label for="card2" class="button return" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <!-- card 3 -->
    <div class="card">
        <input type="checkbox" id="card3" class="more" aria-hidden="true">
        <div class="content">

            <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
                <div class="inner">
                    <h2>Status</h2>
                    <div class="rating">
                        <div class="">
                            <mat-card class="d-flex align-items-center">
                              <img class="icon mr-3"  src="https://image.flaticon.com/icons/svg/2372/2372041.svg" alt="">
                              <div class="d-flex flex-column">
                                <div class="h2 mb-0">ชำรุด</div>
                                <div class="h4 mb-0" >{{status_broken}}</div>
                              </div>
                            </mat-card>
                        </div>
                      
                    </div>
                    <label for="card3" class="button" aria-hidden="true">
                        Details
                    </label>
                </div>
            </div>
            
            <div class="back">
                <div class="inner">
                    <div class="description">
                        <h2>เป็นสถานะที่ไม่สามารถวัดค่า A (กระแสไฟฟ้า) จากสถานีลูกที่ติดตั้งอยู่่ที่เสาไฟฟ้าได้ คาดว่าหลอดไฟชำรุด</h2>
                    </div>
                    <label for="card3" class="button return" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                </div>
            </div>

        </div>
    </div>
     <!-- card 4 -->
    <div class="card">
        <input type="checkbox" id="card4" class="more" aria-hidden="true">
        <div class="content">

            <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
                <div class="inner">
                    <h2>Status</h2>
                    <div class="rating">
                        <div class="">
                            <mat-card class="d-flex align-items-center">
                              <img class="icon mr-3"  src="https://image.flaticon.com/icons/svg/803/803253.svg" alt="">
                              <div class="d-flex flex-column">
                                <div class="h2 mb-0">ไม่ได้รับข้อมูล</div>
                                <div class="h4 mb-0" >{{status_down}}</div>
                              </div>
                            </mat-card>
                        </div>
                      
                    </div>
                    <label for="card4" class="button" aria-hidden="true">
                        Details
                    </label>
                </div>
            </div>
            
            <div class="back">
                <div class="inner">
                    <div class="description">
                        <h2>เป็นสถานะที่สถานีหลักไม่ได้รับการตอบกลับจากสถานีลูก คาดว่าอุปกรณ์สถานีลูกเสียหายหรือไม่มีแหล่งจ่ายไฟ</h2>
                    </div>
                    <label for="card4" class="button return" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                </div>
            </div>

        </div>
    </div>

</div>
  



